html, body, h1, h2, h3, h4, h5, h6, button {
  font-family: "Segoe UI", Verdana, Arial
}

h1 {
  font-size: medium;
  color: steelblue;
  border: solid;
  border-color: grey;
  border-width: 1px;
  padding-left: 0.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: small;
  color: steelblue;
  border-bottom: 1px solid grey;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

p {
  font-size: smaller;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

pre {
  font-family: "Consolas", monospace;
  font-size: smaller;
}

a {
  text-decoration: none;
}

.select-button {
  font-size: smaller;
  background-color: white;
  border: 2px solid steelblue;
  padding: 4px 8px;
  margin: 4px 2px;
  cursor: pointer;
}